p {
    text-align: center;
}


ul {
  list-style: none;
}

.header-fixed {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #00F6ED;
}

.header-item {
    padding: 0 20px;
}

.header-item a {
    color: #0F1108;
    text-decoration: none;
}

.header-item a:hover {
    color: #CAD8DE;
}

.header-logo {

}

.header-nav {

}

.nav-wrap {

}

.introduction {
    font-size: 25px;
}

.introduction p {
    margin: 30px;
}

.choice {
    text-align: center;
}

button {
    background-color: #4db56a;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.header-item {
    padding: 0 20px;
}



.footer-nav {
    background-color: #0F1108;
}

.footer-item {
    padding: 20px;
}

.footer-item a {
    color: #CAD8DE;
}

.footer-item a:hover {
    color: white;
}